#nprogress .bar {
  background: hsl(var(--primary)) !important;
  height: 2px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary)) !important;
}

#nprogress .spinner {
  display: none !important;
} 